<!-- in small screen only navbar contact, in medium and large it stays expanded, so we will see hamburger menu in smakll size -->
<!-- to include icon for navbar we have to include font-awesome cdn too, adn add it in boilerplate cdn -->
 <!-- sticky topif want navbar to fiz at top -->
<nav class="navbar navbar-expand-md bg-body-light border bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-brands fa-unity"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="/">Home</a>
          <a class="nav-link" href="listings">All listings</a>
          <a class="nav-link" href="listings/new">Add new Lsitings</a>
          
        </div>
      </div>
    </div>
  </nav>